.dashboard-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard-cards {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.indicador {
  text-align: center;
  padding: 16px;
}

.indicador-numero {
  font-size: 2rem;
  font-weight: 700;
}

.indicador-texto {
  font-size: 0.9rem;
  color: var(--gray-60);
}

/* cores */
.azul { color: #1351b4; }
.vermelho { color: #d9382b; }
.amarelo { color: #ffb300; }
.verde { color: #2e7d32; }

/* responsividade */
@media (max-width: 1000px) {
  .dashboard-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .dashboard-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .dashboard-cards {
    grid-template-columns: 1fr;
  }
}




br-tag {
  display: inline-flex;
  align-items: center;     /* centraliza vertical */
  justify-content: center; /* centraliza horizontal */
  text-align: center;
}




/* Modal débitos */

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Agrupa ícone + título à esquerda */
.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Aumenta o ícone */
.header-left i {
  font-size: 1.5rem;
}

/* Botão X alinhado à direita */
.btn-close {
  margin-left: auto;
}

/* Ajuste do ícone do X */
.btn-close i {
  font-size: 1rem;
}



/* HEADER */

/* Container */
.page-header {
  width: 100%;
  margin-bottom: 16px;
}

/* Linha superior */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

/* Título */
.br-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  color: #071d41;
}

/* Botão verde */
.br-button.success {
  background-color: #2e7d32;
  color: #fff;
  border: none;
}

.br-button.success:hover {
  background-color: #256628;
}

/* Alerta custom */
.custom-warning {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-left: 4px solid #d32f2f;
  background-color: #f8d7da;
  border-radius: 4px;
}

/* Ícone */
.custom-warning .icon {
  margin-right: 12px;
  color: #d32f2f;
  font-size: 16px;
}

/* Texto */
.custom-warning .content {
  font-size: 14px;
  color: #7a1c1c;
}

/* Link */
.alert-link {
  color: #7a1c1c;
  font-weight: 500;
  text-decoration: underline;
  margin-left: 4px;
}

.alert-link:hover {
  opacity: 0.8;
}