<!-- OVERLAY -->
<div class="menu-overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>

<!-- MENU LATERAL -->
<div class="side-menu" [class.open]="isMenuOpen">
  <div class="menu-header">
    <h2>Menu</h2>
  </div>
  <div class="menu-list">
    <button *ngFor="let item of sideMenuItems" class="menu-item br-button tertiary" [routerLink]="item.url" (click)="closeMenu()">
      <i [class]="item.icon"></i>
      <span>
        {{ item.title }}
      </span>
    </button>
  </div>
</div>

<div class="app-container">

  <br-header is-sticky="true" density="small">
    <br-header-logo slot="logo"
      src="https://www.gov.br/governodigital/pt-br/estrategias-e-governanca-digital/rede-nacional-de-governo-digital/10passos/biblioteca/logo-govbr.png/@@images/image"></br-header-logo>
    <br-button slot="search-icon" shape="circle" density="small" emphasis="tertiary" aria-label="Abrir busca">
      <br-icon icon-name="fa7-solid:search"></br-icon>
    </br-button>
    <br-input slot="search" id="highlight" placeholder="O que você procura?" is-highlight action-label="Buscar">
      <br-icon slot="action" icon-name="fa-solid:search" aria-hidden="true"></br-icon>
    </br-input>
    <br-sign-in slot="access" density="small">
      <br-icon slot="icon" icon-name="fa-solid:user"></br-icon>
      Olá, Cidadão
    </br-sign-in>

    <span slot="caption">PGT - Aop Cidadão</span>
    <span slot="subcaption">INCRA</span>
  </br-header>

  <main class="content">

    <router-outlet></router-outlet>

  </main>

  <nav class="bottom-nav">

    <a *ngFor="let item of menuItems" href="#" class="nav-item" [class.active]="selectedMenu === item.label"
      (click)="selectMenu(item.label, $event)">
      <i [class]="item.icon"></i>
      <span>{{ item.label }}</span>
    </a>

  </nav>

</div>