.modal-header-fix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Agrupa ícone + título */
.modal-header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* IMPORTANTE: evita quebra */
.modal-header-fix button {
  flex-shrink: 0;
}