<app-breadcrumb [items]="[
    { label: 'Página inicial', url: '/' },
    { label: 'Cobrança', url: '/cobranca/' },
    { label: 'Gestão de Inadimplência', url: '/cobranca/gestaoinadimplencia/' },
    { label: 'Emissão em Lote por Fase' }    
  ]">
</app-breadcrumb>

<div class="page-header">

    <!-- Topo: título + botão -->
    <div class="header-top">
        <h1 class="br-title">Emissão em Lote por Fase</h1>

        <button class="br-button secondary small" [routerLink]="['/cobranca/gestaoinadimplencia']">
            <i class="fas fa-arrow-left mr-1"></i>
            Voltar à Fila Individual
        </button>
    </div>

    <!-- Alerta informativo -->
    <div class="br-message info custom-info">
        <div class="icon">
            <i class="fas fa-info-circle"></i>
        </div>
        <div class="content">
            Selecione os beneficiários desejados em cada fase e utilize os botões de ação para emitir notificações,
            registrar recebimentos e informar números SEI de forma massiva.
        </div>
    </div>

</div>

<br-tab>
    <br-tab-item tab-item-title="1ª Notificação" icon="fa-solid:bell">

        <div class="row mt-3">
            <div class="col-12">
                <div class="br-card">
                    <div class="card-header">
                        <div class="ml-3">
                            <div class="text-weight-semi-bold text-up-02">Filtros</div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row mt-3 mb-3">
                            <div class="col-3">
                                <br-select show-search-icon label="Tipo de Notificação"
                                    placeholder="Selecione uma opção" options='[
      { "label": "Pessoal", "value": "1", "selected": false },
      { "label": "Edital", "value": "2", "selected": false }}
    ]'></br-select>
                            </div>
                            <div class="col-3">
                                <br-select show-search-icon label="Status da emissão" placeholder="Selecione uma opção"
                                    options='[
      { "label": "Pendente", "value": "1", "selected": false },
      { "label": "Minuta Gerada", "value": "2", "selected": false },
      { "label": "Emitida", "value": "3", "selected": false },
      { "label": "Recebida", "value": "3", "selected": false }
    ]'></br-select>
                            </div>
                            <div class="col-3">
                                <br-input label="Pesquisar" placeholder="Nome, CPF ou caso" density="medium"></br-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="br-table">
            <div class="table-header">
                <div class="top-bar">
                    <div class="table-title">Título da Tabela</div>
                </div>
                <div class="selected-bar">
                    <div class="info"><span class="count">0</span><span class="text">item selecionado</span></div>
                    <div class="actions-trigger text-nowrap">
                        <button class="br-button circle inverted" type="button" id="button-dropdown-selection"
                            data-toggle="dropdown" data-target="target02-44728" aria-controls="target02-44728"
                            aria-label="Ver mais opções de ação" aria-haspopup="true"><i class="fas fa-ellipsis-v"
                                aria-hidden="true"></i>
                        </button>
                        <div class="br-list" id="target02-44728" role="menu" aria-labelledby="button-dropdown-selection"
                            hidden="hidden">
                            <button class="br-item" type="button" data-toggle="" role="menuitem">Gerar Minutas
                            </button><span class="br-divider"></span>
                            <button class="br-item" type="button" role="menuitem">Registrar Recebimento em Lote
                            </button>
                            <button class="br-item" type="button" role="menuitem">Exportar Registros
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <table>
                <caption>Título da Tabela</caption>
                <thead>
                    <tr>
                        <th class="column-checkbox" scope="col">
                            <div class="br-checkbox hidden-label">
                                <input id="check-all-44728" name="check-all-44728" type="checkbox"
                                    aria-label="Selecionar tudo" data-parent="check-01-44728" />
                                <label for="check-all-44728">Selecionar todas as linhas</label>
                            </div>
                        </th>
                        <th scope="col">Caso</th>
                        <th scope="col">Beneficiário/CPF</th>
                        <th scope="col">PA/Lote</th>
                        <th scope="col">Débito (R$)</th>
                        <th scope="col">Tipo Notificação</th>
                        <th scope="col">Status Emissão</th>
                        <th scope="col">Nº Documento SEI</th>
                        <th scope="col">Data</th>
                        <th scope="col">Forma Recebimento</th>
                        <th scope="col">Prazo Defesa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let registro of registros; let i = index">
                        <td>
                            <div class="br-checkbox hidden-label">
                                <input [id]="'check-line-' + i" [name]="'check-line-' + i" type="checkbox"
                                    aria-label="Selecionar linha" data-child="check-01-44728" />
                                <label [for]="'check-line-' + i">
                                    Selecionar linha {{ i + 1 }}
                                </label>
                            </div>
                        </td>

                        <td data-th="Título coluna 1">{{registro.caso}}</td>
                        <td data-th="Título coluna 2"><strong>{{registro.nome}}</strong><br>{{registro.cpf}}</td>
                        <td data-th="Título coluna 3">{{registro.pa}}/{{registro.lote}}</td>
                        <td data-th="Título coluna 4">{{registro.valor}}</td>
                        <td data-th="Título coluna 5"><br-select options='[
                    { "label": "Pessoal", "value": "1", "selected": false },
                    { "label": "Edital", "value": "2", "selected": false }
                        ]'></br-select></td>
                        <td data-th="Título coluna 6"><br-tag [attr.bg-color]="getStatusColor(registro.status || '')"
                                [attr.label]="registro.status || 'Sem status'" shape="rounded">
                            </br-tag></td>
                        <td data-th="Título coluna 7"><br-input density="small"></br-input></td>
                        <td data-th="Título coluna 8"><br-datetime-picker mode="date"></br-datetime-picker></td>
                        <td data-th="Título coluna 9"><br-select options='[
                    { "label": "AR", "value": "1", "selected": false },
                    { "label": "Assinatura", "value": "2", "selected": false },
                    { "label": "Edital 15d", "value": "3", "selected": false }]'></br-select></td>
                        <td data-th="Título coluna 10">{{registro.prazo}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="table-footer">
                <nav class="br-pagination" aria-label="paginação" data-total="50" data-current="1" data-per-page="20">
                    <div class="pagination-per-page">
                        <div class="br-select">
                            <div class="br-input">
                                <label for="per-page-selection-random-64610">Exibir</label>
                                <input id="per-page-selection-random-64610" type="text" placeholder=" " />
                                <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1"
                                    data-trigger="data-trigger"><i class="fas fa-angle-down" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="br-list" tabindex="0">
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="per-page-10-random-64610" type="radio" name="per-page-random-64610"
                                            value="per-page-10-random-64610" checked="checked" />
                                        <label for="per-page-10-random-64610">10</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="per-page-20-random-64610" type="radio" name="per-page-random-64610"
                                            value="per-page-20-random-64610" />
                                        <label for="per-page-20-random-64610">20</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="per-page-30-random-64610" type="radio" name="per-page-random-64610"
                                            value="per-page-30-random-64610" />
                                        <label for="per-page-30-random-64610">30</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><span class="br-divider d-none d-sm-block mx-3"></span>
                    <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span
                            class="per-page">20</span>&nbsp;de&nbsp;<span class="total">50</span>&nbsp;itens</div>
                    <div class="pagination-go-to-page d-none d-sm-flex ml-auto">
                        <div class="br-select">
                            <div class="br-input">
                                <label for="go-to-selection-random-43734">Página</label>
                                <input id="go-to-selection-random-43734" type="text" placeholder=" " />
                                <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1"
                                    data-trigger="data-trigger"><i class="fas fa-angle-down" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="br-list" tabindex="0">
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="go-to-1-random-43734" type="radio" name="go-to-random-43734"
                                            value="go-to-1-random-43734" checked="checked" />
                                        <label for="go-to-1-random-43734">1</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="go-to-2-random-43734" type="radio" name="go-to-random-43734"
                                            value="go-to-2-random-43734" />
                                        <label for="go-to-2-random-43734">2</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="go-to-3-random-43734" type="radio" name="go-to-random-43734"
                                            value="go-to-3-random-43734" />
                                        <label for="go-to-3-random-43734">3</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><span class="br-divider d-none d-sm-block mx-3"></span>
                    <div class="pagination-arrows ml-auto ml-sm-0">
                        <button class="br-button circle" type="button" aria-label="Voltar página"><i
                                class="fas fa-angle-left" aria-hidden="true"></i>
                        </button>
                        <button class="br-button circle" type="button" aria-label="Página seguinte"><i
                                class="fas fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </nav>
            </div>
        </div>

    </br-tab-item>

    <br-tab-item tab-item-title="Defesa/Decisão" icon="fa-solid:gavel">
        <div class="row mt-3">
            <div class="col-12">
                <div class="br-card">
                    <div class="card-header">
                        <div class="ml-3">
                            <div class="text-weight-semi-bold text-up-02">Filtros</div>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="row mt-3 mb-3">
                            <div class="col-3">
                                <br-select show-search-icon label="Tipo de Notificação"
                                    placeholder="Selecione uma opção" options='[
      { "label": "Pessoal", "value": "1", "selected": false },
      { "label": "Edital", "value": "2", "selected": false }}
    ]'></br-select>
                            </div>
                            <div class="col-3">
                                <br-select show-search-icon label="Status da emissão" placeholder="Selecione uma opção"
                                    options='[
      { "label": "Pendente", "value": "1", "selected": false },
      { "label": "Minuta Gerada", "value": "2", "selected": false },
      { "label": "Emitida", "value": "3", "selected": false },
      { "label": "Recebida", "value": "3", "selected": false }
    ]'></br-select>
                            </div>
                            <div class="col-3">
                                <br-input label="Pesquisar" placeholder="Nome, CPF ou caso" density="medium"></br-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="br-table">
            <div class="table-header">
                <div class="top-bar">
                    <div class="table-title">Título da Tabela</div>
                </div>

                <div class="selected-bar">
                    <div class="info">
                        <span class="count">0</span>
                        <span class="text">item selecionado</span>
                    </div>

                    <div class="actions-trigger text-nowrap">
                        <button class="br-button circle inverted" type="button" id="button-dropdown-selection-tbl-01"
                            data-toggle="dropdown" data-target="target-tbl-01" aria-controls="target-tbl-01"
                            aria-haspopup="true">

                            <i class="fas fa-ellipsis-v"></i>
                        </button>

                        <div class="br-list" id="target-tbl-01" role="menu"
                            aria-labelledby="button-dropdown-selection-tbl-01" hidden>

                            <button class="br-item" type="button">Gerar Minutas</button>
                            <span class="br-divider"></span>
                            <button class="br-item" type="button">Registrar Recebimento em Lote</button>
                            <button class="br-item" type="button">Exportar Registros</button>
                        </div>
                    </div>
                </div>
            </div>

            <table>
                <caption>Título da Tabela</caption>

                <thead>
                    <tr>
                        <th class="column-checkbox">
                            <div class="br-checkbox hidden-label">
                                <input id="check-all-tbl-01" name="check-all-tbl-01" type="checkbox"
                                    data-parent="check-group-tbl-01" />

                                <label for="check-all-tbl-01">
                                    Selecionar todas as linhas
                                </label>
                            </div>
                        </th>

                        <th>Caso</th>
                        <th>Beneficiário/CPF</th>
                        <th>PA/Lote</th>
                        <th>Data Defesa</th>
                        <th>Nº Documento</th>
                        <th>Situação</th>
                        <th>Prazo</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let registro of registros; let i = index">
                        <td>
                            <div class="br-checkbox hidden-label">
                                <input [id]="'check-line-tbl-01-' + i" [name]="'check-line-tbl-01-' + i" type="checkbox"
                                    data-child="check-group-tbl-01" />

                                <label [for]="'check-line-tbl-01-' + i">
                                    Selecionar linha {{ i + 1 }}
                                </label>
                            </div>
                        </td>

                        <td>{{registro.caso}}</td>
                        <td><strong>{{registro.nome}}</strong><br>{{registro.cpf}}</td>
                        <td>{{registro.pa}}/{{registro.lote}}</td>
                        <td><br-datetime-picker mode="date"></br-datetime-picker></td>
                        <td><br-input density="small"></br-input></td>
                        <td>
                            <br-select options='[
            { "label": "Deferido", "value": "1" },
            { "label": "Indeferido", "value": "2" }
          ]'></br-select>
                        </td>
                        <td>{{registro.prazo}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="table-footer">
                <nav class="br-pagination" aria-label="paginação" data-total="50" data-current="1" data-per-page="20">
                    <div class="pagination-per-page">
                        <div class="br-select">
                            <div class="br-input">
                                <label for="per-page-selection-random-64610">Exibir</label>
                                <input id="per-page-selection-random-64610" type="text" placeholder=" " />
                                <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1"
                                    data-trigger="data-trigger"><i class="fas fa-angle-down" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="br-list" tabindex="0">
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="per-page-10-random-64610" type="radio" name="per-page-random-64610"
                                            value="per-page-10-random-64610" checked="checked" />
                                        <label for="per-page-10-random-64610">10</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="per-page-20-random-64610" type="radio" name="per-page-random-64610"
                                            value="per-page-20-random-64610" />
                                        <label for="per-page-20-random-64610">20</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="per-page-30-random-64610" type="radio" name="per-page-random-64610"
                                            value="per-page-30-random-64610" />
                                        <label for="per-page-30-random-64610">30</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><span class="br-divider d-none d-sm-block mx-3"></span>
                    <div class="pagination-information d-none d-sm-flex"><span class="current">1</span>&ndash;<span
                            class="per-page">20</span>&nbsp;de&nbsp;<span class="total">50</span>&nbsp;itens</div>
                    <div class="pagination-go-to-page d-none d-sm-flex ml-auto">
                        <div class="br-select">
                            <div class="br-input">
                                <label for="go-to-selection-random-43734">Página</label>
                                <input id="go-to-selection-random-43734" type="text" placeholder=" " />
                                <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1"
                                    data-trigger="data-trigger"><i class="fas fa-angle-down" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="br-list" tabindex="0">
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="go-to-1-random-43734" type="radio" name="go-to-random-43734"
                                            value="go-to-1-random-43734" checked="checked" />
                                        <label for="go-to-1-random-43734">1</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="go-to-2-random-43734" type="radio" name="go-to-random-43734"
                                            value="go-to-2-random-43734" />
                                        <label for="go-to-2-random-43734">2</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="go-to-3-random-43734" type="radio" name="go-to-random-43734"
                                            value="go-to-3-random-43734" />
                                        <label for="go-to-3-random-43734">3</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><span class="br-divider d-none d-sm-block mx-3"></span>
                    <div class="pagination-arrows ml-auto ml-sm-0">
                        <button class="br-button circle" type="button" aria-label="Voltar página"><i
                                class="fas fa-angle-left" aria-hidden="true"></i>
                        </button>
                        <button class="br-button circle" type="button" aria-label="Página seguinte"><i
                                class="fas fa-angle-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </br-tab-item>

    <br-tab-item tab-item-title="2ª Notificação" icon="fa-solid:envelope-open-text">
        2ª Notificação
    </br-tab-item>

    <br-tab-item tab-item-title="Recurso" icon="fa-solid:reply">
        Recurso
    </br-tab-item>

    <br-tab-item tab-item-title="Trânsito Julgado" icon="fa-solid:check-double">
        Trânsito Julgado
    </br-tab-item>

    <br-tab-item tab-item-title="Notificação Final" icon="fa-solid:book">
        3ª e 4ª Notificações
    </br-tab-item>

    <br-tab-item tab-item-title="Dívida Ativa" icon="fa-solid:file-invoice-dollar">
        Dívida Ativa
    </br-tab-item>
</br-tab>