<br-tab>
    <br-tab-item tab-item-title="Linha do Tempo Processual" icon="fa-history" is-active="true">
        <div class="br-card timeline-card">
            <br-divider></br-divider>
            <div class="card-content">

                <div class="timeline">
                    <div *ngFor="let item of itemsComEstado" class="timeline-item" [ngClass]="item.estado">

                        <!-- marcador -->
                        <div class="timeline-marker">
                            <ng-container [ngSwitch]="item.estado">
                                <i *ngSwitchCase="'done'" class="fas fa-check"></i>
                                <span *ngSwitchDefault>{{ item.id }}</span>
                            </ng-container>
                        </div>

                        <!-- conteúdo -->
                        <div class="timeline-content">
                            <div class="title">{{ item.titulo }}</div>
                            <div class="meta" *ngIf="item.meta">{{ item.meta }}</div>
                            <p>{{ item.descricao }}</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </br-tab-item>
    <br-tab-item tab-item-title="Dados Registrados do Processo" icon="fa-table">
        <div class="processo-container">

            <!-- 1ª Notificação -->
            <div class="br-card" *ngIf="etapaAtual >= 2">
                <div class="card-header">
                    <h3>1ª Notificação</h3>
                </div>
                <div class="card-content">
                    <p><strong>Data:</strong> 10/01/2026</p>
                    <p><strong>Endereço conhecido?:</strong> Sim</p>
                    <p><strong>Endereço notificação:</strong> Rua Platina, 169 - Belo Horizonte/Minas Gerais - 30411-401
                    </p>
                    <p><strong>Nº SEI:</strong> 1320.1324.571-1000/31</p>
                </div>
            </div>

            <!-- Acompanhamento de recebimento -->

            <div class="br-card" *ngIf="etapaAtual >= 3">
                <div class="card-header">
                    <h3>Acompanhamento de recebimento</h3>
                </div>
                <div class="card-content">
                    <p><strong>Primeira tentativa teve sucesso?:</strong> Sim</p>
                    <p><strong>Data recebimento:</strong> 05/03/2026</p>
                    <p><strong>Nº documento SEI:</strong> 7712.4432.998-1100/12</p>

                    <p><strong>Segunda tentativa teve sucesso?:</strong> Não</p>
                    <p><strong>Data recebimento:</strong> —</p>
                    <p><strong>Nº documento SEI:</strong> —</p>

                    <p><strong>Terceira tentativa teve sucesso?:</strong> Não</p>
                    <p><strong>Data recebimento:</strong> —</p>
                    <p><strong>Nº documento SEI:</strong> —</p>

                    <p><strong>Notificação por edital:</strong> Não</p>
                    <p><strong>Data da publicação:</strong> 18/03/2026</p>
                </div>
            </div>

            <!-- Prazo defesa/pagamento -->
            <div class="br-card" *ngIf="etapaAtual >= 4">
                <div class="card-header">
                    <h3>Prazo defesa/pagamento</h3>
                </div>
                <div class="card-content">
                    <p><strong>Data Defesa ao chefe da D:</strong> 22/02/2026</p>
                    <p><strong>Nº SEI Defesa:</strong> 4587.2391.884-2200/45</p>
                    <p><strong>Situação Defesa:</strong> Deferido</p>
                </div>
            </div>

            <!-- Decisão administrativa -->
            <div class="br-card" *ngIf="etapaAtual >= 2">
                <div class="card-header">
                    <h3>Decisão administrativa</h3>
                </div>
                <div class="card-content">
                    <p><strong>Data Decisão administrativa:</strong> 12/04/2026</p>
                    <p><strong>Nº SEI Decisão administrativa:</strong> 9934.5512.776-3300/78</p>
                    <p><strong>Situação Decisão administrativa:</strong> Deferida</p>
                </div>
            </div>

            <!-- 2ª Notificação -->

            <div class="br-card" *ngIf="etapaAtual >= 2">
                <div class="card-header">
                    <h3>2ª Notificação</h3>
                </div>
                <div class="card-content">
                    <p><strong>Data notificação:</strong> 28/04/2026</p>
                    <p><strong>Localização conhecida?:</strong> Não</p>
                    <p><strong>Endereço notificação:</strong> Avenida Amazonas, 2450 - Belo Horizonte/Minas Gerais -
                        30180-002</p>
                    <p><strong>Nº SEI:</strong> 6621.8843.219-5500/64</p>
                    <p><strong>Forma:</strong> Edital</p>
                    <p><strong>Emitir notificação:</strong> Pendente</p>
                </div>
            </div>

            <!-- Acompanhamento de recebimento -->

            <div class="br-card" *ngIf="etapaAtual >= 3">
                <div class="card-header">
                    <h3>Acompanhamento de recebimento</h3>
                </div>
                <div class="card-content">
                    <p><strong>Primeira tentativa teve sucesso?:</strong> Sim</p>
                    <p><strong>Data recebimento:</strong> 05/03/2026</p>
                    <p><strong>Nº documento SEI:</strong> 7712.4432.998-1100/12</p>

                    <p><strong>Segunda tentativa teve sucesso?:</strong> Não</p>
                    <p><strong>Data recebimento:</strong> —</p>
                    <p><strong>Nº documento SEI:</strong> —</p>

                    <p><strong>Terceira tentativa teve sucesso?:</strong> Não</p>
                    <p><strong>Data recebimento:</strong> —</p>
                    <p><strong>Nº documento SEI:</strong> —</p>

                    <p><strong>Notificação por edital:</strong> Não</p>
                    <p><strong>Data da publicação:</strong> 18/03/2026</p>
                </div>
            </div>

            <!-- Prazo recurso superintendente/pagamento -->

            <div class="br-card" *ngIf="etapaAtual >= 2">
                <div class="card-header">
                    <h3>Prazo recurso superintendente/pagamento</h3>
                </div>
                <div class="card-content">
                    <p><strong>Data Recurso:</strong> 03/05/2026</p>
                    <p><strong>Nº SEI Recurso:</strong> 8452.1193.667-2100/09</p>

                    <p><strong>Data Análise técnica Recurso:</strong> 10/05/2026</p>
                    <p><strong>Nº SEI Análise técnica Recurso:</strong> 5591.7724.330-8800/27</p>

                    <p><strong>Data Despacho Decisório Superintendente:</strong> 18/05/2026</p>
                    <p><strong>Nº SEI Despacho Decisório Superintendente:</strong> 9023.6641.558-4400/71</p>

                    <p><strong>Situação Despacho Decisório Superintendente:</strong> Indeferido</p>
                </div>
            </div>

            <!-- Trânsito em julgado -->

            <div class="br-card" *ngIf="etapaAtual >= 2">
                <div class="card-header">
                    <h3>Trânsito em julgado</h3>
                </div>
                <div class="card-content">
                    <p><strong>Data Certidão:</strong> 02/06/2026</p>
                    <p><strong>Nº SEI Certidão:</strong> 7319.5528.114-9900/36</p>
                    <p><strong>Situação Certidão:</strong> Transitado em julgado</p>
                </div>
            </div>

            <!-- Encaminhamentos para cadastro -->

            <div class="br-card" *ngIf="etapaAtual >= 2">
                <div class="card-header">
                    <h3>Encaminhamentos para cadastro</h3>
                </div>
                <div class="card-content">
                    <p><strong>Data mínima para inscrição no CADIN:</strong> 15/06/2026</p>

                    <p><strong>Data cadastro prévio sistema Sapiens Dívida:</strong> 18/06/2026</p>
                    <p><strong>Situação cadastro prévio sistema Sapiens Dívida:</strong> Concluído</p>

                    <p><strong>Data Inscrição CADIN:</strong> 25/06/2026</p>
                    <p><strong>Nº SEI comprovante inscrição CADIN:</strong> 8842.6613.229-7700/52</p>
                    <p><strong>Situação Inscrição CADIN:</strong> Efetivada</p>

                    <p><strong>Data bloqueio Boleto no SNCCI:</strong> 28/06/2026</p>
                    <p><strong>Nº SEI comprovante bloqueio Boleto no SNCCI:</strong> 5517.9032.441-6600/18</p>
                    <p><strong>Situação bloqueio Boleto no SNCCI:</strong> Realizado</p>
                </div>
            </div>
        </div>
    </br-tab-item>
</br-tab>

<!-- timeline.component.html -->