<div class="br-card">
    <div class="card-header">
        <i class="fas fa-robot text-warning mr-1"></i>
        <h3 class="mb-0">Assistente de tarefas</h3>
    </div>
    <br-divider></br-divider>
    <div class="card-content">

        <br-message is-inline auto-remove show-icon aria-label="Mensagem do aria-label para acessibilidade">
            <span>Você está na etapa de <strong>Notificações finais</strong>. Siga os passos abaixo para
                concluir.</span>
        </br-message>

        <app-cardtarefa [titulo]="'Endereço'" [passo]="1" [total]="stepnumber" [ativo]="isAtivo(0)"
            [concluido]="steps[0].concluido">

            <div class="col-12">
                <br-radio name="enderecoConhecido" value="sim" (checkedChange)="onRadioChange('sim', $event)">
                    Sim
                </br-radio>

                <br-radio name="enderecoConhecido" value="nao" (checkedChange)="onRadioChange('nao', $event)">
                    Não
                </br-radio>

                <div *ngIf="enderecoConhecido === 'sim'">
                    <div class="row">
                        <br-radio name="endereco" value="1" (checkedChange)="onRadioChange('sim', $event)">
                            Rua Platina, 169 - Belo Horizonte/Minas Gerais - 30411-401
                        </br-radio>
                    </div>

                    <div class="row">
                        <br-radio name="endereco" value="2" (checkedChange)="onRadioChange('sim', $event)">
                            Rua Turquesa, 365 - Belo Horizonte/Minas Gerais - 30411-235
                        </br-radio>
                    </div>

                    <div class="row">
                        <div class="col-1">
                            <br-radio name="endereco" value="2"
                                (checkedChange)="onRadioChange('sim', $event)"></br-radio>
                        </div>

                        <div class="col-11">
                            <br-input density="small">
                            </br-input>
                        </div>

                    </div>
                </div>
            </div>

            <button *ngIf="isAtivo(0)" class="br-button primary" (click)="concluirEtapa(0)">
                Concluir
            </button>

        </app-cardtarefa>

        <app-cardtarefa [titulo]="'Data  recebimento 3ª notificação (improvimento recurso)'" [passo]="2" [total]="stepnumber" [ativo]="isAtivo(1)"
            [concluido]="steps[1].concluido">

            <div class="col-6">
                <br-datetime-picker mode="date"></br-datetime-picker>
            </div>

            <button *ngIf="isAtivo(1)" class="br-button primary mt-3" (click)="concluirEtapa(1)">
                Concluir
            </button>

        </app-cardtarefa>

        <app-cardtarefa [titulo]="'Nº SEI 3ª notificação'" [passo]="3" [total]="stepnumber" [ativo]="isAtivo(2)"
            [concluido]="steps[2].concluido">

            <div class="col-6">
                <br-input density="small">
                </br-input>
            </div>

            <button *ngIf="isAtivo(2)" class="br-button primary mt-3" (click)="concluirEtapa(2)">
                Concluir
            </button>

        </app-cardtarefa>

        <app-cardtarefa [titulo]="'Forma da 3ª notificação'" [passo]="4" [total]="stepnumber" [ativo]="isAtivo(3)"
            [concluido]="steps[3].concluido">

            <div class="col-6">
                <br-select show-search-icon label="Label" placeholder="Selecione uma opção" options='[
                { "label": "Presencial", "value": "1", "selected": true },
                { "label": "Edital", "value": "2", "selected": false }
                ]'></br-select>
            </div>

            <button *ngIf="isAtivo(3)" class="br-button primary mt-3" (click)="concluirEtapa(3)">
                Concluir
            </button>

        </app-cardtarefa>

        <app-cardtarefa [titulo]="'Data  recebimento 4ª notificação (constituição débito)'" [passo]="5" [total]="stepnumber" [ativo]="isAtivo(4)"
            [concluido]="steps[4].concluido">

            <div class="col-6">
                <br-datetime-picker mode="date"></br-datetime-picker>
            </div>

            <button *ngIf="isAtivo(4)" class="br-button primary mt-3" (click)="concluirEtapa(4)">
                Concluir
            </button>

        </app-cardtarefa>

        <app-cardtarefa [titulo]="'Nº SEI 4ª notificação'" [passo]="6" [total]="stepnumber" [ativo]="isAtivo(5)"
            [concluido]="steps[5].concluido">

            <div class="col-6">
                <br-input density="small">
                </br-input>
            </div>

            <button *ngIf="isAtivo(5)" class="br-button primary mt-3" (click)="concluirEtapa(5)">
                Concluir
            </button>

        </app-cardtarefa>

        <app-cardtarefa [titulo]="'Forma da 4ª notificação'" [passo]="7" [total]="stepnumber" [ativo]="isAtivo(6)"
            [concluido]="steps[6].concluido">

            <div class="col-6">
                <br-select show-search-icon label="Label" placeholder="Selecione uma opção" options='[
                { "label": "Presencial", "value": "1", "selected": true },
                { "label": "Edital", "value": "2", "selected": false }
                ]'></br-select>
            </div>

            <button *ngIf="isAtivo(6)" class="br-button primary mt-3" (click)="concluirEtapa(6)">
                Concluir
            </button>

        </app-cardtarefa>        

        <div class="d-flex justify-content-between mt-3">

            <button class="br-button secondary" (click)="voltarEtapa()"
                [disabled]="etapaAtual === 0 && !todasConcluidas()">
                <i class="fas fa-arrow-left"></i>
                Voltar passo
            </button>

            <button class="br-button primary" [disabled]="!todasConcluidas()" (click)="avancarFase()">
                Avançar Fase
            </button>

        </div>

    </div>
</div>